
<html><head><title>Esempio di View con EJS</title></head>
<body><h1> Lista Prenotazioni</h1>
  <table>
      <tr><th>IdPaziente</th><th>Somministrazione</th><th>SlotPrenotazione</th><th>Postazione</th></tr>
    <% for (var i = 0; i < lista.length; i++) { %>
       <tr><td><%= lista[i].persID %></td>
           <td><%= lista[i].sommID %></td>
           <td><%=lista[i].slot %></td>
           <td><%=lista[i].postazione %></td>
    <% } %>
  </table>
  <hr/>
  <a href="/persona/crea">Clicca Qui per creare una nuova Prenotazione..</a>
 

</body></html>